# Remix compiler artifacts
**/artifacts/
**/artifacts/**
 Remix plugin state folders
deps/
states/
.env.local
.env.production
.env.*
 Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
node_modules/

# Foundry
out/
cache/

.claude/
broadcast/
